name: Tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.21', '1.x' ]
    name: With Go ${{ matrix.go }}
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
          check-latest: true
      - name: Get dependencies
        run: go get -v -t -d ./...
      - name: Test
        run: go test -race ./...
  static-checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.x' ]
    name: Static checks
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
          check-latest: true
      - name: Get dependencies
        run: go get -v -t -d ./...
      - name: Go Vet
        run: go vet ./...
      - name: Go Fmt
        run: |
          fmt=$(gofmt -l .)
          test -z $fmt || (echo "please run gofmt" ; echo $fmt ; exit 1)
      - name: Go Lint
        run: go run golang.org/x/lint/golint@latest -set_exit_status $(go list ./... | grep -v otto/)
      - name: Spelling
        run: |
          go run github.com/client9/misspell/cmd/misspell@latest -error ./example
          go run github.com/client9/misspell/cmd/misspell@latest -error ./puganalyse
          go run github.com/client9/misspell/cmd/misspell@latest -error ./pugjs
          go run github.com/client9/misspell/cmd/misspell@latest -error ./templatefunctions
      - name: In effective assignments
        run: |
          go run github.com/gordonklaus/ineffassign@latest ./example
          go run github.com/gordonklaus/ineffassign@latest ./puganalyse
          go run github.com/gordonklaus/ineffassign@latest ./pugjs
          go run github.com/gordonklaus/ineffassign@latest ./templatefunctions
